@import '../../../common.styl'

.screenWrapper
  padding 28px
  display flex
  justify-content center
  flex-direction column
  align-items  center

.screen
  background white
  coolScrollbar()


.items
  display grid;
  grid-template-columns minmax(150px, 1.33fr) minmax(150px, 1.33fr) minmax(150px, 1.33fr) minmax(150px, 1.33fr)
  min-height 64px
  border: 1px solid;
  background: aliceblue;
  
  div
    justify-self center
    align-self center