@import '../../../common.styl'

.screen
  background white

.screenWrapper
  margin: 0
  position: relative
  left: 85px

.table
  margin: 0

.head
  margin: 0

.row
  display: flex
  justify-content: center
  margin: 0

.elementHead
  border: 1px solid
  text-align: center
  flex-grow: 1

.body
  background white

.pagination
  display flex
  justify-content center
  margin: 0